/* Estilos para el ListadoComponent */

.listado-container {
    flex: 0 0 300px; /* Fija el ancho de la barra lateral */
    max-width: 300px;
  }
  
  .lista-container {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  ul li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Responsivo para ListadoComponent */
  @media (max-width: 768px) {
    .listado-container {
      flex: 1;
      max-width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
    }
  }

  



  /* Estilos para el EtiquetaComponent */

.etiqueta-container {
    flex: 1;
    margin-top: 20px;
  }
  
  .custom-table {
    width: 100%;
    overflow-wrap: break-word;
  }
  
  /* Responsivo para EtiquetaComponent */
  @media (max-width: 768px) {
    .etiqueta-container {
      flex: 1;
      max-width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
      margin-top: 20px;
    }
  }

  


  /* Estilos para el FormularioComponent */

.form-container {
    max-height: 345px;
    overflow-y: auto;
  }
  
  input {
    width: 100%;
    height: 50px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    gap: 30px;
  }
  
  .button-container button {
    flex: 1;
    padding: 15px 30px;
    font-size: 16px;
  }
  
  /* Responsivo para FormularioComponent */
  @media (max-width: 768px) {
    .button-container {
      flex-direction: column;
      gap: 10px;
    }
    
    .button-container button {
      width: 100%;
    }
  }
  
  @media (max-width: 992px) {
    input {
      height: 45px;
    }
    
    .button-container button {
      padding: 12px 20px;
      font-size: 14px;
    }
  }
  